.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: antiquewhite;
}

.Toggle:hover {
    color: rgba(8, 201, 249, 0.773);
}

.navbar-brand {
    color: rgba(255, 255, 255, 0.805);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 40%;
    /* text-align:center ; */
}

.navbar-brand:hover {
    color: whitesmoke;
    /* Change the color on hover */
}


@media screen and (max-width: 600px) {
    .navbar-brand {
        left: 30%;
    }
}

.sigh {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute;
    right: auto;
    left: auto;
    align-content: center;*/
}

/* @media screen and (max-width: 1000px) {
    .sigh{
        position: absolute;
        right: 50%;
    }
    
} */
.border {
    position:fixed;
    margin-top: 20%;

    
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    padding:30px;
    border-radius: 15px;




    box-shadow: 0 0 15px #e5e3e389;
    background-color: rgba(72, 69, 69, 0.906);


}
@media screen and (max-width: 375px) {
    .border{
        padding:30px;
        font-size: small;
        text-align:block;
        top: 15%;
        position: inline-block;
        align-items: center;
        justify-content: center;
        right: 50%;
        left: 50%;
    }
    @media screen and (max-width: 768px) {
        .border{
            margin: 60%;
            position: fixed;
            align-items: center ;
            justify-content: center;
        }
        
    }
}
.img {
    background-image: url(https://source.unsplash.com/2560x1893/?nature);
    background-repeat: no-repeat;
    
   object-fit: fill;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    bottom:0;
}
.New {
    background-image: url(https://source.unsplash.com/1600x900/?cars);
    background-repeat: no-repeat;
    
    
   object-fit: fill;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    bottom:0;
}

/*@media screen and (max-width: 1440px) {
    .img{
        position: absolute;
        width: auto;
        height: auto;
    }
    
}
@media screen and (max-width: 768px) {
    .img{
       position: absolute;
        width: 450px;;
        height: 663px;
        right: auto;
    }
    
}
@media screen and (max-width: 427px) {
    .img{
        position: absolute;
        display: none;
    }
    
}*/