.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: antiquewhite;
}

.Toggle:hover {
    color: rgba(8, 201, 249, 0.773);
}

.navbar-brand {
    color: rgba(255, 255, 255, 0.805);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 40%;
    /* text-align:center ; */
}

.navbar-brand:hover {
    color: whitesmoke;
    /* Change the color on hover */
}


@media screen and (max-width: 600px) {
    .navbar-brand {
        left: 30%;
    }
}

.sigh{
    position: absolute;
    right: auto;
    left: auto;
    align-content: center;
}
/* @media screen and (max-width: 1000px) {
    .sigh{
        position: absolute;
        right: 50%;
    }
    
} */
.border {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 0 15px #e5e3e389;
    background-color: rgba(72, 69, 69, 0.906);

    
}
/*@media screen and (max-width: 1440px) {
    .img{
        position: absolute;
        width: auto;
        height: auto;
    }
    
}
@media screen and (max-width: 768px) {
    .img{
       position: absolute;
        width: 450px;;
        height: 663px;
        right: auto;
    }
    
}
@media screen and (max-width: 427px) {
    .img{
        position: absolute;
        display: none;
    }
    
}*/