.img{
             
               background-image: url(https://source.unsplash.com/2560x1893/?nature);
    background-repeat: no-repeat;
    
   object-fit: fill;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    bottom:0;
}